@import 'materialize';

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

nav {
  background-color: #26c6da;
}

nav a {
  margin-left: 10px;
}

nav .nav-wrapper form {
  position: none;
  width: 60%;
  margin-left: 15%;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%
}

footer.page-footer{
  background-color: #26c6da;
}

